<div class="app-container">

  <div class="header">

    <div class="left-corner">
      <app-pagination
        #paginationComponent
        (pageClick)="pageClick($event)"
      >
      </app-pagination>

      <button mat-raised-button (click)="openDialog()" style="margin-left: 16px"
        [hidden]="loggedIn$ | async"
      >Login</button>
    </div>

    <div class="search-bar">
      <div>Search</div>
      <input (keyup)="search$.next($event)" type="text">
    </div>
  </div>


  <div class="table-container">

    <div *ngFor="let city of cities">
      <app-cities-row
        [city]="city"
        (formSave)="save($event)"
      ></app-cities-row>
    </div>

  </div>

</div>
